@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
}

#section-hero h1 {
    font-family: "DM Serif Display", serif;
    font-size: 300%;
}

#barra-navegacao img {
    border-radius: 50%;
}

.nav-item a:hover {
    font-weight: 700;
}  

#section-hero {
    background: radial-gradient(circle, #66D0ED, #5cc0db);
    padding-top: 40px;
    padding-right: 20%;
    padding-left: 10%;
}

#section-hero a:hover {
    transform: scale(1.05);
}

@media (max-width: 770px) {
    #section-servicos #servicos-first-card-row {
        margin-bottom: 22px;
    }
}

div .card{
    border-radius: 10px;
}

.custom-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    max-height: 200px;
    border-radius: 30px;
}

div .card-body {
    flex: 1;
    padding-bottom: 0;
    border-radius: 10px;
}

.card-img-container {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.card-img-top {
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 150px; 
    object-fit: contain;
}

#pacote-card-1 span {
    background-color: #b8e6f1;
    padding: 0px 10px;
    border-radius: 5px;
}

#section-pacotes .btn {
    color: #fff;
    background-color: #df7d45; /* Cor laranja */
    border-color: #df7d45; /* Cor da borda */
  }

/* Estilo para hover do botão */
#section-pacotes .btn:hover {
color: #fff;
background-color: #e65a00; /* Cor laranja mais escura para hover */
border-color: #e65a00; /* Cor da borda para hover */
}

#section-pacotes p {
    color: #696969;
    }

/* Seção Pacotes */
#section-pacotes .card {
    border: none;
}

#section-pacotes .card-body {
    border: none;
    background-color: #F2D8C9;
}


#section-pacotes .card:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
}

#section-pacotes .card a:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 5% */
}

.card-body ul {
    text-align: left;
}

.card-body li {
    list-style-image: url(assets/patinha-small.png);
}

#section-fotos {
    height: 400px;
    background: radial-gradient(circle, #66D0ED, #5cc0db);
}

#section-fotos {
    width: 100%;
    height: 400px;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.owl-carousel .item img {
    width: 100%;
    max-height: 300px;        
}

#section-map-coments {
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}

#section-map-coments .row {
    align-items: center;
}

#section-map-coments iframe {
    width: 100%;
    height: 400px;
    min-height: 250px;
    max-height: 350px;
}

@media (max-width: 770px) {
    #section-map-coments h4 {
        margin-top: 30px;
    }
}

#section-map-coments img {
    width: 100%;
    min-height: 250px;
    max-height: 350px;
}

@media (min-width: 1400px) {
    #section-map-coments img {
        width: 640px;
    }
}

#section-footer {
    width: 100%;
    height: 200px;
    background-color: #b8e6f1;
}

#section-footer .frases {
    height: 70%;
}

#section-footer h3 {
    font-family: "DM Serif Display", serif;;
}

#section-footer .dev-by {
    height: 30%;
}

#section-footer .dev-by h5 {
    color: rgb(128, 128, 128);
    font-size: 95%;
}

@media (max-width: 770px) {

    #section-footer {
        height: 300px;
    }
}